[submodule "terra-test-game-client"]
	path = terra-test-game-client
	url = git@github.com:starandserpent/terra-test-game-client.git
[submodule "Foreman"]
	path = Foreman
	url = git@github.com:starandserpent/Foreman.git
